img{height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 20px;
}

a{text-decoration: none;
}

#gb{text-align: center;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.userpass{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #24292f;
    text-decoration: none;  
}

#container{border: 1px solid;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#passref{display: flex;
    justify-content: space-between;
    border: 0px solid;
    align-items: center;
}

.links{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

#Newtgb{border: 2px solid #b0d3f542;
    width: 340px;
    text-align: center;
    padding: 16px;
    border-radius: 6px;
    
}

form{border: 2px dotted#d0d7de;
    width: 340px;
    padding: 16px;
    border-radius: 6px;
    background-color: #b0d3f542
}

input{width: 100%;
    height: 32px;
    border-radius: 6px;
    border-color: #d0d7de;
    border: 1px solid #d0d7de;
}

button{width: 100%;
    margin-top: 16px;
    height: 32px;
    border-radius: 6px;
    border: 0px;
    background-color: #30a14e;
    color: white;
    font-size: medium;
    font-weight: 500;
}

.futa{margin-right: 10px;
}

#cgb{color: #57606a;
}